<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{views/common/head :: head}">
<style>
.title{
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}	
</style>
</head>
<body>
	<div th:replace="~{views/common/navbar-admin :: navbar-admin}"></div>
	<div class="container-fluid">
		<form th:action="@{/admin/log}" method="get">
			<div class="row mt-1 g-2">
			    <div class="col-auto">
			        <select class="form-select" id="searchType" name="searchType">
			            <option value="userId" th:selected="${searchType=='userId'}">아이디</option>
			            <option value="nickname" th:selected="${searchType=='nickname'}">닉네임</option>
			        </select>
			    </div>
			    <div class="col">
			        <div class="input-group">
			            <input type="search" class="form-control" placeholder="검색하기" name="searchText" th:value="${searchText}">
			            <button class="btn btn-outline-primary" type="submit">검색하기</button>
			        </div>
			    </div>
			    <input type="hidden" name="tab" th:value="${tab}">
			</div>
		</form>
		<div class="row mt-1 g-2">
	        <table class="table table-hover text-center align-middle">
	            <thead>
	                <tr>
	                    <th>#</th>
	                    <th>조치</th>
	                    <th>아이디</th>
	                    <th>닉네임</th>
	                    <th th:if="${tab != 'member'}">내용</th>
	                    <th>사유</th>
	                    <th>처리일</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="l, stat : ${list}">
	                    <th>[[${stat.count}]]</th>
	                    <td>
	                    	<span th:if="${l.subType=='U'}" class="badge rounded-pill bg-success text-white">차단해제</span>
			            	<span th:if="${l.subType=='B'}" class="badge rounded-pill bg-danger text-white">차단</span>
			            </td>
	                     <td>[[${l.userId}]]</td>
		                 <td>[[${l.nickname}]]</td>
		                 <td th:if="${tab != 'member'}"><span class="title">[[${l.title}]]</span></td>
	                    <td><span class="title">[[${l.comment}]]</span></td>
	                    <td>[[${l.updateDate}]]</td>
	                </tr>
	            </tbody>
	        </table>
	        <nav>
	       	  <ul class="pagination justify-content-center">
	            <li class="page-item" th:classappend="${pi.currentPage == 1} ? 'disabled' : ''">
	              <a class="page-link" th:href="@{/admin/member-activity(page=${pi.currentPage - 1}, searchType=${searchType}, searchText=${searchText}, tab=${tab})}" aria-label="Previous">
	                <span aria-hidden="true">«</span>
	              </a>
	            </li>
	            <li class="page-item" th:classappend="${p == pi.currentPage} ? 'active' : ''" th:each="p:${#numbers.sequence(pi.startPage,pi.endPage)}">
	            	<a class="page-link" th:href="@{/admin/member-activity(page=${p}, searchType=${searchType}, searchText=${searchText}, tab=${tab})}">[[${p}]]</a>
	            </li>
	            <li class="page-item" th:classappend="${pi.currentPage == pi.maxPage} ? 'disabled' : ''"> 
	              <a class="page-link" th:href="@{/admin/member-activity(page=${pi.currentPage + 1}, searchType=${searchType}, searchText=${searchText}, tab=${tab})}" aria-label="Next">
	                <span aria-hidden="true">»</span>
	              </a>
	            </li>
	          </ul>
	        </nav>
	    </div>
	</div>
	
	<div class="modal fade noto-sans-kr" tabindex="-1" role="dialog" id="modalBlock">
	    <div class="modal-dialog">
	        <div class="modal-content rounded-3 shadow overflow-hidden">
	            <div class="modal-body p-4">
	                <div class="bg-light rounded p-3 mb-3 d-flex justify-content-between align-items-center">
					    <div class="d-flex align-items-center gap-2"> 
					        <span class="badge rounded-pill text-bg-success">정상</span>
					        <span class="fw-bold">아이디</span>
					        <span class="text-body-secondary small">닉네임</span>
					    </div>
					</div>
	                <hr class="hr-1">
	                <div class="form-floating mb-3">
	                    <input type="date" class="form-control" id="blockDate">
	                    <label for="blockDate">차단 일자</label>
	                </div>
	                <div class="form-floating mb-3">
	                    <textarea class="form-control" placeholder="차단 사유" id="manageReason" style="resize:none; height:100px;"></textarea>
	                    <label for="manageReason">차단 사유</label>
	                </div>
	            </div>
	           <div class="modal-footer flex-nowrap p-0">
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 border-end btn-danger text-white"><strong>차단하기</strong></button>
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">아니요</button>
	           </div>
	           <div class="modal-footer flex-nowrap p-0">
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 border-end btn-success text-white"><strong>차단해제</strong></button>
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">아니요</button>
	           </div>
	        </div>
	    </div>
	</div>
</body>
</html>