<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{views/common/head :: head}"></head>
<style>
.questionTitle{
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}	
</style>
<body>
	<div th:replace="~{views/common/navbar-admin :: navbar-admin}"></div>
	<div class="container-fluid">
		<form th:action="@{/admin/member-activity}" method="get">
			<div class="row mt-1 g-2">
			    <div class="col-auto">
			        <select class="form-select" id="searchType" name="searchType">
			            <option value="userId" th:selected="${searchType=='userId'}">아이디</option>
			            <option value="nickname" th:selected="${searchType=='nickname'}">닉네임</option>
			            <option value="title" th:selected="${searchType=='title'}">제목</option>
			        </select>
			    </div>
			    <div class="col">
			        <div class="input-group">
			            <input type="search" class="form-control" placeholder="검색하기" name="searchText" th:value="${searchText}">
			            <button class="btn btn-outline-primary" type="submit">검색하기</button>
			        </div>
			    </div>
			    <input type="hidden" name="tab" th:value="${tab}">
			</div>
		</form>

		<ul class="nav nav-tabs mb-3 mt-2">
		    <li class="nav-item">
		        <a class="nav-link" th:classappend="${tab == 'review'} ? 'active' : ''" th:href="@{/admin/member-activity(searchType=${searchType}, searchText=${searchText}, tab='review')}">후기 게시판</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" th:classappend="${tab == 'question'} ? 'active' : ''" th:href="@{/admin/member-activity(searchType=${searchType}, searchText=${searchText}, tab='question')}">질문</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" th:classappend="${tab == 'answer'} ? 'active' : ''" th:href="@{/admin/member-activity(searchType=${searchType}, searchText=${searchText}, tab='answer')}">답변</a>
		    </li>
		</ul>
		<div class="tab-content">
		    <div class="tab-pane show active" id="question">
		        <table class="table table-hover text-center align-middle">
		            <thead>
		                <tr>
		                    <th>#</th>
		                    <th>아이디</th>
		                    <th>닉네임</th>
		                    <th>제목</th>
		                    <th>등록일</th>
		                    <th>상태</th>
		                    <th>관리</th>
		                    <th>바로가기</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="q, stat : ${list}">
		                    <th>[[${stat.count}]]</th>
		                    <td>[[${q.userId}]]</td>
		                    <td>[[${q.nickname}]]</td>
		                    <td class="questionTitle">[[${q.title}]]</td>
		                    <td>[[${q.createDate}]]</td>
		                    <td>
				            	<span th:if="${q.status=='Y'}" class="badge rounded-pill bg-success text-white">정상</span>
				            	<span th:unless="${q.status=='Y'}" class="badge rounded-pill bg-danger text-white">차단</span>
				            </td>
		                    <td><button type="button" class="btn btn-outline-danger" th:data-status="${q.status}" th:data-index="${q.qIndex}" onclick="showBlockModal(this);">차단관리</button></td>
		                    <td><button type="button" class="btn btn-outline-primary" th:data-qindex="${q.qIndex}" onclick="goPage(this);">바로가기</button></td>
		                </tr>
		            </tbody>
		        </table>
		        <nav>
				  <ul class="pagination justify-content-center">
		            <li class="page-item" th:classappend="${pi.currentPage == 1} ? 'disabled' : ''">
		              <a class="page-link" th:href="@{/admin/member-activity(page=${pi.currentPage - 1}, searchType=${searchType}, searchText=${searchText}, tab=${tab})}" aria-label="Previous">
		                <span aria-hidden="true">«</span>
		              </a>
		            </li>
		            <li class="page-item" th:classappend="${p == pi.currentPage} ? 'active' : ''" th:each="p:${#numbers.sequence(pi.startPage,pi.endPage)}">
		            	<a class="page-link" th:href="@{/admin/member-activity(page=${p}, searchType=${searchType}, searchText=${searchText}, tab=${tab})}">[[${p}]]</a>
		            </li>
		            <li class="page-item" th:classappend="${pi.currentPage == pi.maxPage} ? 'disabled' : ''"> 
		              <a class="page-link" th:href="@{/admin/member-activity(page=${pi.currentPage + 1}, searchType=${searchType}, searchText=${searchText}, tab=${tab})}" aria-label="Next">
		                <span aria-hidden="true">»</span>
		              </a>
		            </li>
		          </ul>
				</nav>
		    </div>
		</div>
	</div>
	
	<div class="modal fade noto-sans-kr" tabindex="-1" role="dialog" id="modalBlock">
	    <div class="modal-dialog">
	        <div class="modal-content rounded-3 shadow overflow-hidden">
	            <div class="modal-body p-4">
	                <div class="bg-light rounded p-3 mb-3 d-flex justify-content-between align-items-center">
					    <div class="d-flex align-items-center gap-2">
					        <span class="badge rounded-pill text-bg-success">정상</span>
					        <span class="fw-bold">제목들어가야됨</span>
					    </div>
					</div>
	                <hr class="hr-1">
	                <div class="form-floating mb-3">
	                    <input type="date" class="form-control" id="blockDate">
	                    <label for="blockDate">차단 일자</label>
	                </div>
	                <div class="form-floating mb-3">
	                    <textarea class="form-control" placeholder="차단 사유" id="manageReason" style="resize:none; height:100px;"></textarea>
	                    <label for="manageReason">차단 사유</label>
	                </div>
	            </div>
	           <div class="modal-footer flex-nowrap p-0">
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 border-end btn-danger text-white" onclick="blockQuestion('Y');"><strong>차단하기</strong></button>
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">아니요</button>
	           </div>
	           <div class="modal-footer flex-nowrap p-0">
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 border-end btn-success text-white" onclick="blockQuestion('N');"><strong>차단해제</strong></button>
	               <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">아니요</button>
	           </div>
	        </div>
	    </div>
	</div>
	
<script th:inline="javascript">
let subIndex = null;
const currentPage = /*[[${pi.currentPage}]]*/ 1;
    
    window.onload=()=>{
		
	}
    
    
    const showBlockModal = (obj) =>{
   	   
   	    const status = obj.dataset.status;
   	 	const index = obj.dataset.index;
   	 	subIndex = index;
   	 	const questionTitle = obj.closest('tr').querySelector('.questionTitle').innerText;
   	 	document.querySelector('#modalBlock .fw-bold').innerText = questionTitle;
   		
   		
   		
   	    const badge = document.querySelector('#modalBlock .badge');
   	    const footers = document.querySelectorAll('#modalBlock .modal-footer');

   	 
   	    
   	    
   	    if (status === 'Y') {
   	        badge.className = 'badge rounded-pill text-bg-success';
   	        badge.innerText = '정상';
   	        footers[0].style.display = '';
   	        footers[1].style.display = 'none';
   	        
   	        
   	     	// 오늘 날짜 가져오기
   	        const today = new Date();
   	        const year = today.getFullYear();
   	        const month = String(today.getMonth() + 1).padStart(2, '0'); 
   	        const day = String(today.getDate()).padStart(2, '0'); 

   	        // yyyy-mm-dd 형식으로 날짜 문자열 생성
   	        const formattedDate = `${year}-${month}-${day}`;

   	        // input 요소에 날짜 설정
   	        document.getElementById('blockDate').value = formattedDate;
   	     	document.getElementById('manageReason').value = "";
   	     	$('#modalBlock').modal('show');
   	        
   	    } else {
   	        badge.className = 'badge rounded-pill text-bg-danger';
   	        badge.textContent = '차단';
   	        footers[0].style.display = 'none';
   	        footers[1].style.display = '';
   	        
   	        
	   	     $.ajax({
	   	        url: '/admin/question',
	   	        type: 'get',
	   	        data: { index: index },
	   	        success: data => {
	   	            document.getElementById('blockDate').value = data.updateDate;
	   	            document.getElementById('manageReason').value = data.comment;
	   	         	$('#modalBlock').modal('show');
	   	        }
	   	    });
	   	}
    }
    
    const blockQuestion = (status) => {
		const blockText = document.querySelector('#manageReason').value.trim();
    	$.ajax({
			url: '/admin/question',
			type: 'put',
			data: {
				type : "Q",
				subType : status=='Y'?"B":"U",
				subIndex : subIndex,
				comment : blockText,
			},
			success:data=>{
				if(data==1){
					alert("처리되었습니다.");
					const searchType = document.querySelector('#searchType').value;
					const searchText = document.querySelector('[name=searchText]').value;

					location.href = '/admin/member-activity?tab=question&page='+currentPage+'&searchType='+searchType+'&searchText='+searchText;//새로고침..
				}else{
					alert("오류가 발생했습니다.");
				}
			},
			error :data=> console.log(data)
		});
    }
    
    const goPage=(obj)=>{
    	window.open('/qa/Awriter?qIndex=' + obj.dataset.qindex);
    }
</script>
</body>
</html>