<!DOCTYPE html>
<html>
<head th:replace="~{views/common/head :: head}"></head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
	<main class="form-signin w-25 m-auto">
		<div class="d-flex justify-content-center">
			<img class="w-200" style="margin-bottom: -3%; margin-top: -3%;" src="/img/dajagong-logo.svg" onclick="location.href='/'"/>
		</div>
		<form>
			<!-- 			<img class="mb-4" src="/img/dajagong-logo.svg" alt="" width="72" height="57"> -->
			<br>
			<br>
			<br>
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
			<div class="form-floating">
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
				<label for="floatingInput">I.D.</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>
			<br>
			<button class="btn btn-primary w-100 py-3" type="submit" style="margin: 5px">Sign In</button>
			<button class="btn btn-primary w-100 py-3" type="button" style="margin: 5px" onclick="location.href='enroll'">Sign Up</button>
		</form>
	</main> 
	<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" class="astro-vvvwv3sm"></script>
</body>
</html>