<!DOCTYPE html>
<html>
<head th:replace="~{views/common/head :: head}"></head>
<body>
	<div th:replace="~{views/common/navbar :: navbar}"></div>
	<div class="album py-5 bg-f3faff">
		<div class="container">
	      <h2 class="do-hyeon-regular">요즘 인기있는 책들</h2>
	      <div class="row row-cols-5">
	        <div class="col">
	          <div class="card shadow-sm" role="button" onclick="location.href='/book-review/detail'">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text noto-sans-kr-500">여기 책 이름이 들어가용</p>
	              <div class="mt-auto text-end">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col">
	          <div class="card shadow-sm" role="button" onclick="location.href='/book-review/detail'">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text noto-sans-kr-500">여기 책 이름이 들어가용</p>
	              <div class="mt-auto text-end">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	
	        <div class="col">
	          <div class="card shadow-sm" role="button" onclick="location.href='/book-review/detail'">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text noto-sans-kr-500">여기 책 이름이 들어가용</p>
	              <div class="mt-auto text-end">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col">
	          <div class="card shadow-sm" role="button" onclick="location.href='/book-review/detail'">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text noto-sans-kr-500">여기 책 이름이 들어가용</p>
	              <div class="mt-auto text-end">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
			<div class="col">
	          <div class="card shadow-sm" role="button" onclick="location.href='/book-review/detail'">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text noto-sans-kr-500">여기 책 이름이 들어가용</p>
	              <div class="mt-auto text-end">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="container">
		  <div class="row mt-2">
		    <div class="col-2">
		        <select class="form-select" id="pageSize">
		            <option selected>10개 보기</option>
		            <option value="20">20개 보기</option>
		            <option value="50">50개 보기</option>
		        </select>
		    </div>
		</div>
		<div class="row mt-2">
		    <div class="col-auto pe-1">
		        <select class="form-select" id="certType">
		            <option selected>자격증 선택</option>
		            <option value="기사">기사</option>
		            <option value="산업기사">산업기사</option>
		        </select>
		    </div>
		    <div class="col-auto px-1">
		        <select class="form-select" id="searchType">
		            <option selected>책 제목</option>
		            <option value="publisher">출판사</option>
		        </select>
		    </div>
		    <div class="col px-1">
		        <div class="input-group">
		            <input type="search" class="form-control rounded-start" placeholder="검색하기" />
		            <button class="btn btn-outline-primary" type="button">검색하기</button>
		        </div>
		    </div>
		</div>
		 <div class="row my-3">
		  <div class="col">
		    <div class="card">
		      <div class="row g-0">
		        <div class="col-md-2" style="height:150px;" role="button" onclick="location.href='/book-review/detail'">
		          <svg aria-label="Placeholder: Image" class="bd-placeholder-img h-100" height="100" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
		        </div>
		        <div class="col-md-10">
		          <div class="card-body d-flex flex-column h-100 p-3">
		            <div>
		              <span class="card-title mb-1 noto-sans-kr-900 h4" role="button" onclick="location.href='/book-review/detail'">도서이름</span> 
		              <div class="card-text">출판사이름</div>
		              <div class="card-text">
		                <small class="text-body-secondary">출판날짜</small>
		              </div>
		            </div>
		            <div class="mt-auto text-end">
		              <a href="/book-review/detail" class="text-decoration-none text-dark noto-sans-kr-200">후기보기 &gt;&gt;</a>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		 <div class="row my-3">
		  <div class="col">
		    <div class="card">
		      <div class="row g-0">
		        <div class="col-md-2" style="height:150px;" role="button" onclick="location.href='/book-review/detail'">
		          <svg aria-label="Placeholder: Image" class="bd-placeholder-img h-100" height="100" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
		        </div>
		        <div class="col-md-10">
		          <div class="card-body d-flex flex-column h-100 p-3">
		            <div>
		              <span class="card-title mb-1 noto-sans-kr-900 h4" role="button" onclick="location.href='/book-review/detail'">도서이름</span> 
		              <div class="card-text">출판사이름</div>
		              <div class="card-text">
		                <small class="text-body-secondary">출판날짜</small>
		              </div>
		            </div>
		            <div class="mt-auto text-end">
		              <a href="/book-review/detail" class="text-decoration-none text-dark noto-sans-kr-200">후기보기 &gt;&gt;</a>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row my-3">
		  <div class="col">
		    <div class="card">
		      <div class="row g-0">
		        <div class="col-md-2" style="height:150px;" role="button" onclick="location.href='/book-review/detail'">
		          <svg aria-label="Placeholder: Image" class="bd-placeholder-img h-100" height="100" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
		        </div>
		        <div class="col-md-10">
		          <div class="card-body d-flex flex-column h-100 p-3">
		            <div>
		              <span class="card-title mb-1 noto-sans-kr-900 h4" role="button" onclick="location.href='/book-review/detail'">도서이름</span> 
		              <div class="card-text">출판사이름</div>
		              <div class="card-text">
		                <small class="text-body-secondary">출판날짜</small>
		              </div>
		            </div>
		            <div class="mt-auto text-end">
		              <a href="/book-review/detail" class="text-decoration-none text-dark noto-sans-kr-200">후기보기 &gt;&gt;</a>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		  
		  <div class="mx-auto border-0 align-items-center"> 
	        <nav aria-label="Standard pagination example">
	          <ul class="pagination justify-content-center">
	            <li class="page-item">
	              <a class="page-link" href="#" aria-label="Previous">
	                <span aria-hidden="true">«</span>
	              </a>
	            </li>
	            <li class="page-item"><a class="page-link" href="#">1</a></li>
	            <li class="page-item"><a class="page-link" href="#">2</a></li>
	            <li class="page-item"><a class="page-link" href="#">3</a></li>
	            <li class="page-item">
	              <a class="page-link" href="#" aria-label="Next">
	                <span aria-hidden="true">»</span>
	              </a>
	            </li>
	          </ul>
	        </nav>
	      </div>  	
	  </div>
	  
	<footer th:replace="~{views/common/footer :: footer}"></footer>
</body>
</html>