<!DOCTYPE html>
<html>
<head th:replace="~{views/common/head :: head}"></head>
<body>
	<div th:replace="~{views/common/navbar :: navbar}"></div>
	<div class="album py-5 bg-f3faff">
		<div class="container">
	      <h2 class="do-hyeon-regular">Trending Books</h2>
	      <div class="row row-cols-5">
	        <div class="col">
	          <div class="card shadow-sm">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text">여기 책 이름이 들어가용</p>
	              <div class="d-flex justify-content-between align-items-center">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col">
	          <div class="card shadow-sm">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text">여기 책 이름이 들어가용</p>
	              <div class="d-flex justify-content-between align-items-center">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	
	        <div class="col">
	          <div class="card shadow-sm">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text">여기 책 이름이 들어가용</p>
	              <div class="d-flex justify-content-between align-items-center">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col">
	          <div class="card shadow-sm">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text">여기 책 이름이 들어가용</p>
	              <div class="d-flex justify-content-between align-items-center">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
			<div class="col">
	          <div class="card shadow-sm">
	            <svg class="bd-placeholder-img img-thumbnail" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
	            <div class="card-body">
	              <p class="card-text">여기 책 이름이 들어가용</p>
	              <div class="d-flex justify-content-between align-items-center">
	                <small class="text-muted">9 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="container">
		  <div class="row mt-2">
			  <div class="col-3">
		        <select class="form-select" id="exampleSelect">
		          <option selected="">Open this select menu</option>
		          <option value="1">One</option>
		          <option value="2">Two</option>
		          <option value="3">Three</option>
		        </select>
		      </div>
		      <div class="col-9">
		      	<div class="input-group">
				    <input type="search" class="form-control rounded" placeholder="검색하기" aria-label="Search" aria-describedby="search-addon" />
				    <button type="button" class="btn btn-outline-primary">검색하기</button>
				</div>
		      </div>
		  </div>
		  <div class="row my-3">
		  	<div class="bd-example m-0 border-0"> 
        		<svg aria-label="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera: 200x200" 
        			class="bd-placeholder-img img-thumbnail" height="200" preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg">
        			<rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">200x200</text></svg> 
        	</div>
		  </div>
	  </div>
	  
	<footer th:replace="~{views/common/footer :: footer}"></footer>
</body>
</html>