<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.dajagong.admin.mapper.ManagementHistoryMapper">
	<insert id="insertManagementHistory">
		<selectKey order="BEFORE" resultType="_int" keyProperty="index">
			select SEQ_MID.nextval from dual
		</selectKey>
		insert into management_history values(#{index},#{type},#{subType},sysdate,#{comment},#{subIndex},#{userId})
	</insert>
	
	<select id="selectLastUserStatus" resultType="ManagementHistory">
	    select * from (
		    select * from management_history
		    where user_id = #{userId}
		    order by update_date desc
		)
		WHERE rownum = 1
	</select>
	
	
	
	<select id="selectSubIndex" resultType="ManagementHistory">
	    select * from (
		    select * from management_history
		    where sub_index = #{subIndex}
		    and type=#{type}
		    order by update_date desc
		)
		WHERE rownum = 1
	</select>
</mapper>