<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.dajagong.user.mapper.UserMapper">
	<select id="login" resultType="User">
	    SELECT * FROM "USER"
	    WHERE user_id=#{userId} <!-- AND  pwd=#{pwd} --> AND status='Y'
	</select>

	<insert id="insertUser">
		insert into "USER"
		values(#{userId}, #{pwd}, #{nickname}, #{email}, #{phone}, sysdate, default, default)
	</insert>
	
	<update id="updateUser">
		update "USER"
		set pwd=#{pwd}, nickname=#{nickname}, email=#{email}, phone=#{phone}
		where user_id=#{userId}
	</update>
	
	<update id="deleteUser">
		update "USER" 
		set status='N'
		where user_id=#{userId}
	</update>
	
	<select id="checkId" resultType="_int">
		select count(*) from "USER"
		where user_id = #{userId}
	</select>
	
	<select id="checkNickname" resultType="_int">
		select count(*) from "USER"
		where nickname = #{nickname}
		<if test="useId != null">
			and user_id != #{userId}
		</if>
	</select>
	
	
</mapper>