<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example" th:fragment="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="/home">SpringBoot project</a>
		<div class="collapse navbar-collapse" id="navbarsExample02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
				<li class="nav-item"><a class="nav-link active" href="/board/list">Board</a></li>
				<li class="nav-item"><a class="nav-link active" href="/attm/list">Photo</a></li>
			</ul>
		</div>
	</div>
</nav>