<div th:fragment="navbar">
	<div class="d-flex justify-content-center"> 
		<img class="w-25" style="margin-bottom: -3%; margin-top: -3%;" src="/img/dajagong-logo.svg"/>
	</div>
	<div class="navbar-expand navbar-dark bg-dark"> 
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 collapse navbar-collapse"> 
			<div class="col-md-3 mb-2 mb-md-0"> 
			</div> 
			<ul class="nav navbar-nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"> 
				<li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li> 
				<li class="nav-item"><a href="/book-review/main" class="nav-link px-2">Book Reviews</a></li> 
				<li class="nav-item"><a href="#" class="nav-link px-2">Q&A</a></li> 
			</ul> 
			<div class="col-md-3 text-end">
				<button type="button" class="btn btn-light me-2" onclick="location.href='/login'">Login</button> 
				<button type="button" class="btn btn-info me-2" onclick="location.href='/enroll'">Sign-up</button> 
			</div> 
		</header> 
	</div>
	<!-- 현재 페이지면 해당 nav-item의 a태그의 클래스에 active를 넣는게 필요합니다~ -->
	<script>
	
	</script>
</div>