<div th:fragment="navbar">
	<div class="d-flex justify-content-center"> 
		<img class="w-25" style="margin-bottom: -3%; margin-top: -3%;" src="/img/dajagong-logo.svg" role="button" onclick="location.href='/'"/>
	</div>
	<div class="navbar-expand navbar-dark bg-dark"> 
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 collapse navbar-collapse"> 
			<div class="col-md-3 mb-2 mb-md-0"> 
			</div> 
			<ul class="nav navbar-nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"> 
				<li class="nav-item noto-sans-kr-500"><a href="/" class="nav-link px-2" id="home">Home</a></li> 
				<li class="nav-item noto-sans-kr-500"><a href="/book-review/main" class="nav-link px-2" id="book-review">Book Reviews</a></li> 
				<li class="nav-item noto-sans-kr-500"><a href="/qa/list" class="nav-link px-2" id="qa">Q&A</a>
				</li>
			</ul> 
			<div class="col-md-3 text-end">
			
				<button type="button" class="btn btn-light me-2 noto-sans-kr-900" onclick="location.href='/admin/member-management'"  th:if="${session.loginUser!=null && session.loginUser.isAdmin=='Y'}"><i class="bi bi-key"></i></button>
				<button type="button" class="btn btn-light me-2 noto-sans-kr-900" onclick="location.href='/login'"  th:if="${session.loginUser==null}">Login</button> 
				<button type="button" class="btn btn-info text-white me-2 noto-sans-kr-900" onclick="location.href='/enroll'"  th:if="${session.loginUser==null}">Sign-up</button> 
				<button type="button" class="btn btn-light me-2 noto-sans-kr-900" onclick="location.href='/myPage'"  th:if="${session.loginUser!=null}">MyPage</button> 
				<button type="button" class="btn btn-light me-2 noto-sans-kr-900" onclick="location.href='/logout'"  th:if="${session.loginUser!=null}">Log-out</button> 
			</div> 
		</header> 
	</div>
	<!-- 현재 페이지면 해당 nav-item의 a태그의 클래스에 active를 넣는게 필요합니다~ -->
	<script>
			if(window.location.pathname.includes("book-review")){
				document.getElementById('book-review').className += ' active';
			}else if(window.location.pathname.includes("qa")){
				document.getElementById('qa').className += ' active';
			}else{
				document.getElementById('home').className += ' active';
			}
	</script>
</div>