<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{views/common/head :: head}"></head>
<body class="bg-light">
    <div th:replace="~{views/common/navbar :: navbar}"></div>
    
    <div class="container mt-5 mb-5" style="max-width: 800px; border: 1px solid #999; padding: 30px; background-color: #fff;">
        <nav aria-label="breadcrumb"> 
            <ol class="breadcrumb p-3 bg-f3faff rounded-3"> 
                <li class="breadcrumb-item"> 
                    <a class="link-body-emphasis text-decoration-none" href="/qa/list"> 
                        <i class="bi bi-house-door-fill"></i> 돌아가기
                    </a> 
                </li> 
            </ol> 
        </nav>

        <h3 class="text-center mb-2 noto-sans-kr-900 py-5">질문 상세 보기</h3>
			
        <form id="insertForm" class="needs-validation" action="/qa/insert" method="POST">
            <div class="row g-3">
                
                <div class="col-12">
                    <div class="input-group mb-3">
                        <select class="form-select noto-sans-kr-500" name="licenseCode" style="max-width: 180px;" required>
                            <option value="" disabled selected>자격증</option>
                            <option th:each="l : ${lList}" 
                                    th:value="${l.licenseCode}" 
                                    th:text="${l.licenseName}">자격증명</option>
                        </select>
                        <span class="input-group-text noto-sans-kr-500">제목</span>
                        <input type="text" id="title" class="form-control noto-sans-kr-500" name="title"
                               placeholder="질문 제목을 입력하세요." required>
                    </div>
                </div>

                <div class="col-12">
                    <div class="mb-4">                       
                        <textarea id="content" class="form-control noto-sans-kr-500" rows="15" name="content" 
                                  style="resize: none;" placeholder="질문 내용을 작성하시오." required></textarea>
                    </div>
                </div>

                <hr class="my-4">

                <div class="col-12 text-end">
                    <button class="btn btn-primary px-5 py-2 noto-sans-kr-900" type="submit">제출</button>                   
                </div>
            </div>
        </form>
    </div>

    <footer th:replace="~{views/common/footer :: footer}"></footer>
    
    <script>
      
        window.onload = () => {
            const insertForm = document.getElementById('insertForm');
            
            if(insertForm) {
                insertForm.onsubmit = function() {
                    const title = document.getElementById('title');
                    const content = document.getElementById('content');

                    if(title.value.trim().length === 0) {
                        alert("제목을 입력해주세요.");
                        title.focus();
                        return false; 
                    }

                    if(content.value.trim().length === 0) {
                        alert("내용을 입력해주세요.");
                        content.focus();
                        return false; 
                    }

                    return true; 
                };
            }
        };
    </script>
</body>
</html>