<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{views/common/head :: head}"></head>
<body>
    <div th:replace="~{views/common/navbar :: navbar}"></div>
    
    <div class="container mt-5 mb-5" style="max-width: 800px; border: 1px solid #999; padding: 20px; background-color: #fff;">
    	<nav aria-label="breadcrumb" class=""> 
			<ol class="breadcrumb p-3 bg-f3faff rounded-3"> 
				<li class="breadcrumb-item"> <a class="link-body-emphasis" href="/qa/list"> <svg class="bi" width="16" height="16" aria-hidden="true"><i class="bi bi-house-door-fill"></i></svg></a> </li> 
				<li class="breadcrumb-item"> <a class="link-body-emphasis fw-semibold text-decoration-none noto-sans-kr-500" href="/qa/list">자격증 명</a> </li> 
				<li class="breadcrumb-item active noto-sans-kr" aria-current="page">질문 제목</li> 
			</ol> 
		</nav>

        <h3 class="text-center mb-2 noto-sans-kr-900 py-5">질문 상세 보기</h3>
     
        <table class="table table-bordered text-center">
            <tr>
                <td style="width: 30%; background-color: #f8f9fa;">자격증</td>
                <td colspan="2">정보처리기사</td>
            </tr>
            <tr class="noto-sans-kr-500"> <td>작성자: 홍길동</td>
                <td>작성일: 2026-04-28</td>
                <td>조회수: 12</td>
            </tr>
        </table>

        <div class="border p-5 mb-4" style="min-height: 200px; background-color: #fafafa;">
            질문 내용
        </div>
        
        <div class="d-grid gap-2">
           <button class="w-100 btn btn-success btn-lg" type="button">UPDATE</button>
           <button class="w-100 btn btn-secondary btn-lg" type="button">DELETE</button>
        </div>  
        
		<hr class="hr-2">
        <div class="mt-5">
            <table class="table table-bordered mb-2">
                <tr class="table-light">
                	<a class="btn btn-outline-primary px-4">수정하기</a>
                	<a class="btn btn-outline-danger px-4">삭제하기</a>
                    <td style="width: 50%;">작성자 : 관리자</td>
                    <td>작성일 : 2026-04-28</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="p-5" style="min-height: 200px; background-color: #fafafa;">
				            답변 내용
				        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-5">
		    <table class="table table-bordered mb-2">
		    	<a class="btn btn-outline-primary px-4">수정하기</a>
		    	<a class="btn btn-outline-danger px-4">삭제하기</a>
		        <tr class="table-light">
		            <td style="width: 50%;">작성자 : 관리자</td>
		            <td>작성일 : 2026-04-28</td>
		        </tr>
		        <tr>
		            <td colspan="2">
		                <div class="p-5" style="min-height: 200px; background-color: #fafafa;">
		                    답변 내용
		                </div>
		            </td>
		        </tr>
		        <tr>
		            <td colspan="2" class="text-end">
		                <button type="button" class="btn btn-danger px-4 noto-sans-kr-500 blockBtn">답변 차단</button>
		            </td>
		        </tr>
		    </table>
		</div>
        <hr class="hr-2">
        <div class="row mb-5">
		  <div class="col">
		    <div class="card p-3">
		      <div class="row g-0">
		        <div class="col">
		         <form>
			        <textarea class="form-control" rows="5" style="resize: none;" placeholder="답변 내용을 입력하세요."></textarea>
			         <button type="button" class="btn btn-primary w-100 mt-3 btn-lg noto-sans-kr-900 text-white">등록하기</button>
		         </form>
		         
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
    
    
	<div class="modal fade noto-sans-kr" tabindex="-1" role="dialog" id="modalDelete">
	    <div class="modal-dialog">
	        <div class="modal-content rounded-3 shadow">
	            <div class="modal-body p-4 text-center">
	                <i class="bi bi-exclamation-triangle-fill text-danger mb-3" style="font-size:2.5rem;"></i>
	                <h5 class="mb-1">정말로 답변을 삭제하시겠습니까?</h5>
	                <p class="mb-0 text-body-secondary">삭제 후 답변은 되돌릴 수 없습니다.</p>
	            </div>
	            <div class="modal-footer flex-nowrap p-0">
	                <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 border-end btn-danger text-white"><strong>네</strong></button>
	                <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">아니요</button>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="modal fade noto-sans-kr" tabindex="-1" role="dialog" id="modalBlock">
	    <div class="modal-dialog">
	        <div class="modal-content rounded-3 shadow overflow-hidden">
	            <div class="modal-body p-4 text-center">
	                <i class="bi bi-exclamation-triangle-fill text-danger mb-3" style="font-size:2.5rem;"></i>
	                <h5 class="mb-3">정말로 이 답변을 차단하시겠습니까?</h5>
	                <div class="form-floating">
					  <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
					  <label for="floatingTextarea">차단사유</label>
					</div>
	            </div>
	            <div class="modal-footer flex-nowrap p-0">
				    <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 rounded-bottom-start btn-danger text-white"><strong>네</strong></button>
				    <button type="button" class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 rounded-bottom-end" data-bs-dismiss="modal">아니요</button> 
				</div>
	        </div>
	    </div>
	</div>
<script>
window.onload=()=>{
	const deleteBtnList = document.getElementsByClassName('deleteBtn');
	for(const deleteModal of deleteBtnList){
		deleteModal.addEventListener('click',()=>{
			$('#modalDelete').modal('show');
		});
	}

	
	const blockBtnList = document.getElementsByClassName('blockBtn');
	for(const blockModal of blockBtnList){
		blockModal.addEventListener('click',()=>{
			$('#modalBlock').modal('show');
		});
	}
}
</script>
    <footer th:replace="~{views/common/footer :: footer}"></footer>
</body>
</html>