<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{views/common/head :: head}"></head>
<body>
	<div th:replace="~{views/common/navbar :: navbar}"></div>
	<div class="album pt-5 pb-4 bg-f3faff">
		<div class="container pb-3">
			<div class="row mb-2">
			    <div class="col">
			        <h2 class="do-hyeon-regular">요즘 인기있는 책들</h2>
			    </div>
			    <div class="col">
			        <div class="d-flex align-items-end justify-content-end h-100">
			            <a href="/book-review/main" class="text-decoration-none text-dark noto-sans-kr-500">&gt;&gt;더 보러 가기</a>
			        </div>
			    </div>
			</div>
	      <div class="row row-cols-5">
			<div class="col" th:each="b:${bookList}">
	          <div class="card shadow-sm h-100" role="button" th:onclick="|location.href='/book-review/detail?num=${b.bookNum}'|">
	            <img class="bd-placeholder-img img-thumbnail" style="height: 270px; object-fit: contain; background: #fff;"th:src="@{/img/book/}+${b.bookNum}+@{.jpg}" />
	            <div class="card-body d-flex flex-column">
	              <p class="card-text noto-sans-kr-500" th:text="${b.bookName}"></p>
	              <div class="mt-auto text-end">
	                <small class="text-muted">[[${b.reviewCount}]] 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  
		<div class="container mt-3 pb-5">
	        <div class="row mb-2">
	            <div class="col">
	                <h2 class="do-hyeon-regular">질의응답</h2>
	            </div>
	            <div class="col">
	                <div class="d-flex align-items-end justify-content-end h-100">
	                    <a href="/qa/list" class="text-decoration-none text-dark noto-sans-kr-500">&gt;&gt;더 보러 가기</a>
	                </div>
	            </div>
	        </div>
	
	        <table class="table table-hover text-center border-top border-bottom" style="table-layout: fixed;">
	            <thead class="table-light">
	                <tr>
	                    <th style="width: 10%;">번호</th>
	                    <th style="width: 50%;">제목</th>
	                    <th style="width: 15%;">작성자</th>
	                    <th style="width: 15%;">작성일</th>
	                    <th style="width: 10%;">조회수</th>
	                </tr>
	            </thead>
	            <tbody id="qa-top-body">
	                </tbody>
	        </table>
	    </div>
	
	<footer th:replace="~{views/common/footer :: footer}"></footer>
	<th:block th:if="${message != null}">
		<div class="modal fade noto-sans-kr-500" tabindex="-1" role="dialog" id="exceptionMoal">
		    <div class="modal-dialog modal-dialog-centered">
		        <div class="modal-content rounded-3 shadow overflow-hidden">
		            <div class="modal-header bg-danger text-white">
			          <h5 class="modal-title" id="exampleModalLabel">경고</h5>
			          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			        </div>
		            <div class="modal-body p-4">
		                <div class="form-floating mb-3 text-center ">
		                    <h5>[[${message}]]</h5>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</th:block>
	<script th:inline="javascript">
        window.onload = () => {
           
            const modal = document.getElementById('exceptionMoal');
            if(modal) {
                $('#exceptionMoal').modal('show');
            }

            getQaTopList();
        }

        const getQaTopList = () => {
            $.ajax({
                url: '/qa/topList',
                method: 'GET',
                success: data => {
                    const tbody = document.getElementById('qa-top-body');
                    tbody.innerHTML = ''; 
                   
                    for(const q of data) {
                        const tr = document.createElement('tr');
                        tr.style.cursor = 'pointer';
                        tr.onclick = () => {
                            location.href = '/qa/Awriter?qIndex=' + q.qIndex + '&page=1';
                        };

                        let row = '<td>' + q.qIndex + '</td>';
                        row += '<td class="text-start ps-4"><span class="questionTitle" title="' + q.title + '">' + q.title + '</span></td>';
                        row += '<td>' + q.userId + '</td>';
                        row += '<td>' + q.createDate.split('T')[0] + '</td>';
                        row += '<td>' + q.count + '</td>';

                        tr.innerHTML = row; 
                        tbody.append(tr);                    }
                },
                error: e => console.log("메인 리스트 로딩 실패", e)
            });
        }
		
		<!-- 회원가입 후 안내메시지 -->
		let msg = /*[[${alertMsg}]]*/ null; <!-- 주석아님. th문법 -->

	    if(msg != null){
	        alert(msg);
	    }
    </script>
	
</body>
</html>