<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{views/common/head :: head}"></head>
<body>
	<div th:replace="~{views/common/navbar :: navbar}"></div>
	<div class="album pt-5 bg-f3faff">
		<div class="container pb-3">
			<div class="row mb-2">
			    <div class="col">
			        <h2 class="do-hyeon-regular">요즘 인기있는 책들</h2>
			    </div>
			    <div class="col">
			        <div class="d-flex align-items-end justify-content-end h-100">
			            <a href="/book-review/main" class="text-decoration-none text-dark noto-sans-kr-500">&gt;&gt;더 보러 가기</a>
			        </div>
			    </div>
			</div>
	      <div class="row row-cols-5">
	        <div class="col" th:each="b:${bookList}">
	          <div class="card shadow-sm" role="button" th:onclick="|location.href='/book-review/detail?num=${b.bookNum}'|">
	            <img class="bd-placeholder-img img-thumbnail" width="100%" height="225" th:src="@{/img/book/}+${b.bookNum}+@{.jpg}" />
	            <div class="card-body">
	              <p class="card-text noto-sans-kr-500" th:text="${b.bookName}"></p>
	              <div class="mt-auto text-end">
	                <small class="text-muted">[[${b.reviewCount}]] 리뷰</small>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  
	  <div class="container mt-5">
	  	<div class="row mb-2">
		    <div class="col">
		        <h2 class="do-hyeon-regular">질의응답</h2>
		    </div>
		    <div class="col">
		        <div class="d-flex align-items-end justify-content-end h-100">
		            <a href="/qa/list" class="text-decoration-none text-dark noto-sans-kr-500">&gt;&gt;더 보러 가기</a>
		        </div>
		    </div>
		</div>
	  	
	  	<table class="table table-hover text-center border-top border-bottom">
            <thead class="table-light">
                <tr>
                    <th style="width: 50%;">제목</th>
                    <th style="width: 15%;">작성일</th>
                    <th style="width: 15%;">작성자</th>
                    <th style="width: 10%;">조회수</th>
                </tr>
            </thead>
            <tbody>
               
                <tr onclick="location.href='/qa/Wwriter'" style="cursor: pointer;">
                    <td class="text-start ps-4">정보처리기사 실기 질문 있습니다.</td>
                    <td>2026-04-28</td>
                    <td>홍길동</td>
                    <td>12</td>
                </tr>
                <tr onclick="location.href='/qa/Wwriter'" style="cursor: pointer;">
                    <td class="text-start ps-4">정보처리기사 실기 질문 있습니다.</td>
                    <td>2026-04-28</td>
                    <td>홍길동</td>
                    <td>12</td>
                </tr>
                <tr onclick="location.href='/qa/Wwriter'" style="cursor: pointer;">
                    <td class="text-start ps-4">정보처리기사 실기 질문 있습니다.</td>
                    <td>2026-04-28</td>
                    <td>홍길동</td>
                    <td>12</td>
                </tr>
                <tr onclick="location.href='/qa/Wwriter'" style="cursor: pointer;">
                    <td class="text-start ps-4">정보처리기사 실기 질문 있습니다.</td>
                    <td>2026-04-28</td>
                    <td>홍길동</td>
                    <td>12</td>
                </tr>
                <tr onclick="location.href='/qa/Wwriter'" style="cursor: pointer;">
                    <td class="text-start ps-4">정보처리기사 실기 질문 있습니다.</td>
                    <td>2026-04-28</td>
                    <td>홍길동</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>		
	  </div>
	
	<footer th:replace="~{views/common/footer :: footer}"></footer>
	
</body>
</html>